<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filtro de Proyectos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css">
    <!-- DataTables Buttons CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.3.6/css/buttons.dataTables.min.css">
    <!-- DataTables JS -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
    <!-- DataTables Buttons JS -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.3.6/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.html5.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.print.min.js"></script>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Mi Proyecto</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/indicador">Indicador</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/articulo">Artículos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/proyecto">Proyectos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cotizacion">Cotización</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/proveedores">Proveedores</a>
                </li>
            </ul>
        </div>
    </nav>

<div class="container">
    <form action="{{ url_for('mostrar_cotizacion') }}" method="post">
        <label for="proyecto">Selecciona un proyecto:</label>
        <select name="proyecto" id="proyecto">
            <option value="">Seleccione un proyecto</option>
            {% for proyecto_db in proyectos %}
                <option value="{{ proyecto_db[0] }}">{{ proyecto_db[0] }}</option>
            {% endfor %}
        </select>
        <button type="submit">Mostrar Cotización</button>
    </form>
    </div>

    
    {% if items %}
    <h2>Items del Proyecto</h2>
    <table id="example" class="display table table-striped table-bordered mt-4">
        <thead>
            <tr>
                <th>Indicador</th>
                <th>Actividad</th>
                <th>Artículo</th>
                <th>Cantidad</th>
                <th>Precio Unidad</th>
                <th>Precio Total</th>
                <th>IVA</th>
                <th>IVA Total</th>
              
                
            </tr>
        </thead>
         
        <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item[1] }}</td>
                    <td>{{ item[2] }}</td>
                    <td>{{ item[3] }}</td>
                    <td>{{ item[4] }}</td>
                    <td>{{ item[5] }}</td>
                    <td>{{ item[6] }}</td>
                    <td>{{ item[7] }}</td>
                    <td>{{ item[8] }}</td>
                  
                </tr>
            {% endfor %}
        </tbody>
            
        
           
            
        
        
    </table>
    <h3>Total del Proyecto: <span>{{ total_proyecto }}</span></h3>
{% endif %}

<script>
    $(document).ready(function() {
        $('#example').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'excelHtml5',
                'pdfHtml5'
            ],
            paging: true,
            searching: true
        });
    });
</script>

<!-- Bootstrap JS and Popper.js -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>

<footer class="footer mt-auto py-3 bg-light">
    <div class="container text-center">
        <span class="text-muted">Creado por: Jhon Bismar Rengifo Mosquera</span> --
        <span class="text-muted">Ingeniero teleinformático</span> ---
        <span class="text-muted">Especialista en seguridad informática</span>
    </div>
</footer>
</body>
</html>
