<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROYECTO</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css">
    <!-- DataTables JS -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
    <!-- DataTables Buttons CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.3.6/css/buttons.dataTables.min.css">
    <!-- DataTables Buttons JS -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.3.6/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.html5.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.print.min.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

    <nav  class="navbar navbar-expand-lg navbar-light">

        <img src="{{ url_for('static', filename='images/Avatar.png') }}" alt="Logotipo" style="height: 40px; width: auto; margin-right: 10px;">
    
            <a class="navbar-brand" href="/" style="color: #C60C6F;">Mi Proyecto</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav" >
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard" style="color: #177353;">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/proyecto" style="color: #177353;">Proyectos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/indicador" style="color: #177353;">Indicador</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/cotizacion" style="color: #177353;">Cotización</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/proveedores" style="color: #177353;">Proveedores</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/articulo" style="color: #177353;">Artículos</a>
                    </li>
                    
                    
                    
                    
                </ul>
            </div>
        </nav>


    <div class="container mt-1">
        <form action="/proyecto" method="post" class="row">
            <div class="form-group col-3" >
                <label for="codigo">Código del proyecto</label>
                <input id="codigo" name="proyecto_codigo" type="text" class="form-control" placeholder="BPIN">
            </div>
            <div class="form-group col-9">
                <label for="proyecto_nombre">Agregar nombre del proyecto</label>
                <input id="proyecto_nombre" name="proyecto_nombre" type="text" class="form-control" placeholder="Nombre del proyecto">
            </div>
            <div class="form-group col-12">
                <label for="descripcion">Descripción del proyecto</label>
                <textarea id="descripcion" name="proyecto_descripcion" class="form-control" placeholder="Ingresa tu descripción"></textarea>
            </div>
            <button type="submit" class="col-2" style="background-color: #177353; color: #ffffff;">Agregar +</button>
        </form>
<br>
        <table id="example" class="display table table-striped table-bordered mt-4"> <!-- los exportes con id example-->
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>accion</th>
                </tr>
            </thead>
            <tbody>
                {% for proyecto in proyecto %}
                <tr>
                    <td>{{ proyecto[0] }}</td>
                    <td>{{ proyecto[1] }}</td>
                    <td>{{ proyecto[2] }}</td>
                    <td> 
                       
                        
                    </td>
                </tr>
                {% endfor %}  
            </tbody>
        </table>
    </div>


 <!-- los exportes-->
    <script>
        $(document).ready(function() {
            $('#example').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'excelHtml5',
                    'pdfHtml5'
                ],
                paging: true,
                searching: true
            });
        });
    </script>
    <!-- Bootstrap JS and Popper.js -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>

    <footer class="footer mt-auto py-3 bg-light">
        <div class="container text-center">
            <span class="text-muted">Creado por:  Jhon Bismar Rengifo Mosquera</span>--
            <span class="text-muted">Ingeniero teleinformatico</span>---
            <span class="text-muted">Especialista en seguridad informatica</span>
        </div>
    </footer>
</body>
</html>
